* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 20px;
}




/* Vars */

:root {
    --light-blue: #1C57CB;
    --middle-blue: #222C5F;
    --dark-blue: #161c41;
    --sec-color: #9AB044;
    --highlight-blue: #8DC4FC;
}


body {
    font-family: 'Titillium Web', sans-serif;
}

/* Grid Setup */
body {
    margin: 0px;
    min-height: 100%;
    display: grid;
    grid-template-columns: 12rem repeat(3, 1fr);
    grid-template-rows: 5rem auto 5rem;
}

#header {
    background-color: var(--dark-blue);
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    color: white;
}

#navigation {
    background-color: var(--middle-blue);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    color: white;
}

#main-content {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
}

#footer {
    background-color: var(--dark-blue);
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    color: white;
}

/* END OF GRID SETUP */


/* HEADER RULES */

@keyframes wriggle {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(15deg);
    }

    75% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#header img.logo {
    height: 4rem;
    -webkit-filter: invert(100%);
    /* Safari/Chrome */
    filter: invert(100%);
}

#header img.logo:hover {
    animation-name: wriggle;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#header {
    box-shadow: 0px 0px 20px 0px black;
    z-index: 2;
}

#header div.header-wrapper {
    margin: 0 2rem;
    gap: 1rem;
    display: flex;
    height: 100%;
    align-items: center;
}

#header h1 {
    transition: .5s;
}

#header h1:hover {
    transform: scale(1.05);
}

/* END OF HEADER RULES */

/* NAVIGATION RULES */

#navigation {
    position: fixed;
    top: 0;
    padding: 6rem 4rem 0 1.5rem;
    overflow: hidden;
    height: 100%;
}

#navigation ul {
    list-style: none;
}

#navigation ul>li>a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin: .3rem 0;
}

#navigation ul>li>a:hover {
    transform: translateX(.4rem);
    text-decoration: underline dotted;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.1rem;
}

/* END OF NAVIGATION RULES */

/* MAIN RULES */

#main-content {
    padding: 2rem 3rem 3rem 3rem;
    display: flex;
    gap: 2rem;
}

#main-content article {
    max-width: 1000px;
    text-align: justify;
}

#main-content .articles {
    max-width: 100%;
}

#main-content article h1 {
    font-size: 3rem;
}

#main-content article h2 {
    margin-top: 2.5rem;
    margin-bottom: .8rem;
}

#main-content article p{
    margin-bottom: 1.5rem;
    line-height: 2rem;
}

#main-content figure.image {
    border-style: dotted;
    /* this will make the caption be no larger than the fig img */
    width: 20rem;
    float: right;
    margin: 1rem;
    margin-bottom: 0.1rem;
    padding: 0.1rem;
}

#main-content figure>img {
    width: 100%;
}



#main-content figure figcaption {
    padding: 0 0.5rem 0.3rem 0.5rem;
    font-style: italic;
    color: #0f0f0f;
    font-family: 'Roboto Mono', monospace;
    font-size: .7rem;
}

#main-content aside {
    position: sticky;
    top: 6rem;
    max-width: 20%;
    border-style: double;
    border-width: 3px;


    margin-top: 5rem;

    padding: 1rem;
    padding-left: 2rem;
    box-sizing: content-box;
    height: fit-content;
}

#main-content aside>ol>li>a {
    color: var(--dark-blue);
    text-decoration: underline dotted grey;
    text-decoration-thickness: 2px;
    text-underline-offset: .1rem;
}

#main-content aside>ol>li>a:hover {
    text-decoration: underline solid;
    text-decoration-thickness: 3px;
}

#main-content article .multiple-cols{
    columns: 2;
}

#main-content article .multiple-cols > figure{
    display: inline-block;
    float: none;
    width: auto;
}

/* MAIN GALLERY RULES!!!*/

#main-content article#gallery-article {
    max-width: 100%;
}

#main-content div.gallery {
    max-width: 75rem;
    margin: 0 auto;
}

#main-content div.gallery-container {
    user-select: none;
    width: 100%;
    display: flex;
    align-items: center;
}

#main-content div.gallery-slide {
    flex: auto;
    width: 33%;
    height: 20rem;
    padding: .8rem;
    margin: .4rem;
    border: 1px solid grey;
}

#main-content img.gallery-image {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

#main-content .gallery-slide h2 {
    margin-top: .2rem;
}

#main-content div.gallery-control>button {
    background-color: transparent;
    border: none;
}

#main-content div.gallery-control>button>svg {
    transition: transform .5s, color .5s;
}

#main-content div.gallery-control>button:hover>svg {
    transform: scale(1.1);
    color: var(--middle-blue);
}

#main-content div.gallery-control>button>svg {
    width: 4rem;
}


/* END OF MAIN GALLERY RULES!!!*/
/* END OF MAIN RULES */




/* FOOTER RULES */

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer ul>li>a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}


#footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* END OF FOOTER RULES */



/* Print specific */

@page  { size: auto; margin: 25mm 25mm 25mm 25mm;  } 

html{
    font-size: 12pt;  
}

html p, html h2, html h1, html figure {
    overflow: visible !important;      
}

a[href]::after {
    content: " (Link <" attr(href) ">)";
  }

#navigation {
    display: none;
}

#footer{
    display: none;
}

body{
    display:block;
}

#main-content{
    flex-direction: column-reverse;
}